# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Dependencies
node_modules/
venv/
.venv/

# Build
dist/
build/
*.egg-info/

# Vercel
.vercel

dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
/client/.next